@model BikeRental.Models.Cart

    <div>
        <h4>Total Count: @(Model.TotalCount())</h4>
        @{
            foreach (var item in Model.Bicycles)
            {
                <p>
                    <b>@item.Brand</b>
                </p>
            }
            foreach (var item in Model.Accessories)
            {
                <p>
                    <b>@item.AccessoryName</b>
                </p>
            }
        }
        <a class="btn btn-primary" asp-action="Checkout">Place Order</a>
    </div>

